[submodule "riemann"]
	path = riemann
	url = aur:riemann.git
[submodule "ganglia-web"]
	path = ganglia-web
	url = aur:ganglia-web.git
[submodule "ganglia"]
	path = ganglia
	url = aur:ganglia.git
[submodule "ganglia-minimal"]
	path = ganglia-minimal
	url = aur:ganglia-minimal.git
[submodule "packetbeat"]
	path = packetbeat
	url = aur:packetbeat.git
[submodule "pidgin-extprefs"]
	path = pidgin-extprefs
	url = aur:pidgin-extprefs.git
